article img {
  width: 100%;
}

#top {
  position: relative;
  z-index: -1;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: $headerfont;
    color: white;
    font-size: 3rem;
  }
}

#icecream {
  background: $primary-color;
}

#about {
  background: $secondary-color;
}

#contact {
  background: $secondary-color;
  height: 600px;
}
